Repository aineko-dev/aineko: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, poetry-check

check-license:
  name: Check License Snippet
  entry: python .internals/check_license.py
  language: python
  args:
  - --fix

poetry-check:
  name: Poetry check
  description: Validates the content of the pyproject.toml file and its consistency with the poetry.lock file.
  entry: poetry check
  language: system
  pass_filenames: false

chore: add HTTPPoller to accept.txt
  docs/.styles/config/vocabularies/Aineko/accept.txt
Due: none

fix: allow multiple mkdocs file references
  .vale.ini
Due: none

fix: rename websocket_client doc name
  docs/extras/websocket_client.md
Due: none

fix: update error message when wrong url given
  aineko/extras/connectors/http_poller.py
Due: check-license

fix: remove unecessary typehints
  aineko/extras/connectors/http_poller.py
Due: check-license

fix: add context for retry logic
  aineko/extras/connectors/http_poller.py
Due: check-license

fix: sleep for retry_sleep time when request fails
  aineko/extras/connectors/http_poller.py
Due: check-license

fix: separate poll and parse out into their own methods
  aineko/extras/connectors/http_poller.py
Due: check-license

fix: liniting
  aineko/extras/connectors/http_poller.py
Due: check-license

chore: incremental updates
  aineko/core/node.py
  aineko/core/runner.py
  aineko/datasets/core.py
  aineko/datasets/kafka.py
  aineko/datasets/kafka_dataset.py
Due: check-license

fix: typo
  aineko/extras/connectors/http_poller.py
Due: check-license

fix: update docstrings
  aineko/extras/connectors/http_poller.py
Due: check-license

fix: linting
  aineko/extras/connectors/http_poller.py
Due: check-license

Feat: HTTP Connector Node Extra (#124)
  .vale.ini
  aineko/extras/__init__.py
  aineko/extras/connectors/http_poller.py
  aineko/extras/connectors/websocket_client.py
  docs/.styles/config/vocabularies/Aineko/accept.txt
  docs/extras/http_poller.md
  docs/extras/websocket_client.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/extras/connectors/test_http_poller.py
  tests/extras/connectors/test_http_poller.yml
  tests/extras/connectors/test_http_server.py
Due: check-license, poetry-check

Deployed 9f899d2 to dev with MkDocs 1.5.3 and mike 2.0.0
  dev/404.html
  dev/aineko_dream/index.html
  dev/api_reference/abstract_node/index.html
  dev/api_reference/config/index.html
  dev/api_reference/config_loader/index.html
  dev/api_reference/dataset_consumer/index.html
  dev/api_reference/dataset_producer/index.html
  dev/api_reference/runner/index.html
  dev/community/index.html
  dev/developer_guide/aineko_project/index.html
  dev/developer_guide/cli/index.html
  dev/developer_guide/concepts/index.html
  dev/developer_guide/config_kafka/index.html
  dev/developer_guide/node_implementation/index.html
  dev/developer_guide/pipeline_configuration/index.html
  dev/examples/aineko_dream/index.html
  dev/extras/fastapi/index.html
  dev/extras/http_poller/index.html
  dev/extras/intro/index.html
  dev/extras/websocket_client/index.html
  dev/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/start/quickstart/index.html
Due: none

chore: typevar for from_config method
  aineko/datasets/core.py
Due: check-license

chore: incremental kafka dataset updates
  aineko/core/runner.py
  aineko/datasets/kafka.py
Due: check-license

chore: node method updates for dataset init
  aineko/core/node.py
Due: check-license

fix: inputs
  aineko/datasets/kafka.py
Due: check-license

chore: lint
  aineko/core/node.py
  aineko/core/runner.py
  aineko/datasets/kafka.py
Due: check-license

chore: config for setting up producers/consumers
  aineko/core/node.py
  aineko/core/runner.py
  aineko/datasets/kafka.py
Due: check-license

chore: lint
  aineko/core/runner.py
  aineko/datasets/kafka.py
Due: check-license

feat: create fake inputs and outputs for datasets
  aineko/datasets/kafka.py
Due: check-license

refactor: use fake datasets for node testing
  aineko/core/node.py
Due: check-license

chore: update fixtures for node tests
  tests/conftest.py
Due: check-license

test: update FakeDataset tests
  tests/core/test_dataset.py
Due: check-license

chore: debug fixes
  aineko/core/node.py
  aineko/core/runner.py
  aineko/datasets/core.py
Due: check-license

chore: kafka message update
  aineko/datasets/kafka.py
Due: check-license

chore: websocket_client syntax updates
  aineko/extras/connectors/websocket_client.py
  tests/extras/connectors/test_websocket_client.py
  tests/extras/connectors/test_websocket_client.yml
Due: check-license

feat: create and delete methods
  aineko/core/runner.py
  aineko/datasets/core.py
  aineko/datasets/kafka_dataset.py
  aineko/extras/__init__.py
  aineko/extras/datasets/__init__.py
  aineko/extras/datasets/postgres.py
  poetry.lock
  pyproject.toml
  tests/extras/datasets/postgres.py
Due: check-license, poetry-check

chore: exception handling and docstrings
  aineko/core/node.py
  aineko/core/runner.py
  aineko/datasets/core.py
  aineko/datasets/kafka.py
  tests/extras/connectors/test_websocket_client.yml
Due: check-license

chore: docstrings and pydantic models
  aineko/core/node.py
  aineko/core/runner.py
  aineko/datasets/core.py
  aineko/datasets/kafka.py
Due: check-license

chore: docstrings
  aineko/datasets/core.py
  aineko/datasets/kafka.py
Due: check-license

chore: lint
  aineko/datasets/core.py
  aineko/datasets/kafka.py
Due: check-license

Set default version to 0.3 with mike 2.0.0
  index.html
Due: none

chore: bump Aineko version
  aineko/__init__.py
  aineko/templates/first_aineko_pipeline/{{cookiecutter.project_slug}}/pyproject.toml
  docs/extras/fastapi.md
  docs/extras/http_poller.md
  docs/extras/intro.md
  docs/extras/websocket_client.md
  pyproject.toml
Due: check-license, poetry-check

Deployed 220190d to dev with MkDocs 1.5.3 and mike 2.0.0
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

chore: bump Aineko version (#148)
  aineko/__init__.py
  aineko/templates/first_aineko_pipeline/{{cookiecutter.project_slug}}/pyproject.toml
  docs/extras/fastapi.md
  docs/extras/http_poller.md
  docs/extras/intro.md
  docs/extras/websocket_client.md
  pyproject.toml
Due: check-license, poetry-check

Deployed 75b9139 to dev with MkDocs 1.5.3 and mike 2.0.0
  dev/extras/fastapi/index.html
  dev/extras/http_poller/index.html
  dev/extras/intro/index.html
  dev/extras/websocket_client/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Path conditions:
  check-license: any of: \.(py|yml|yaml)$, but not: .pre-commit-config.yaml|yamllint.yaml|^docs/.styles/.*$
  poetry-check: any of: pyproject.toml
