Repository aineko-dev/aineko: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, poetry-check

check-license:
  name: Check License Snippet
  entry: python .internals/check_license.py
  language: python
  args:
  - --fix

poetry-check:
  name: Poetry check
  description: Validates the content of the pyproject.toml file and its consistency with the poetry.lock file.
  entry: poetry check
  language: system
  pass_filenames: false

Commented out loading of ainako_style.checker plugin
  pyproject.toml
Due: poetry-check

Update type hints in dataset.py, node.py, main.py, and deploy_config_schema_internal.py
  aineko/core/dataset.py
  aineko/core/node.py
  aineko/extras/fastapi/main.py
  aineko/models/deploy_config_schema_internal.py
  aineko/utils/misc.py
Due: check-license

Update typing imports in config_schema.py
  aineko/models/config_schema.py
Due: check-license

Fix type hinting in test functions
  tests/core/test_runner.py
Due: check-license

Update Python version range in config.yml and pyproject.toml
  .circleci/config.yml
  poetry.lock
  pyproject.toml
Due: check-license, poetry-check

Update poetry install command in CircleCI config
  .circleci/config.yml
Due: check-license

Update poetry install command to include --no-ansi flag
  .circleci/config.yml
Due: check-license

refactor: use repo url to install
  .circleci/config.yml
Due: check-license

chore: use correct deploy version
  tests/conf/test_deploy.yml
  tests/conf/test_deploy_full.yml
Due: check-license

fix: break down owner/repo variable
  .circleci/config.yml
Due: check-license

chore: add matrix for python versions in test-aineko-create job
  .circleci/config.yml
Due: check-license

chore: generate junit xml test reports
  .circleci/config.yml
Due: check-license

fix: contributing and examples links in readme
  README.md
Due: none

fix: move vocab to new location for vale upgrade
  .gitignore
  docs/.styles/config/vocabularies/Aineko/accept.txt
  docs/.styles/config/vocabularies/Aineko/reject.txt
Due: none

fix: rename WebSocket to WebSocketClient to be more descriptive
  aineko/extras/__init__.py
  aineko/extras/connectors/websocket_client.py
Due: check-license

docs: document exception raising in function docstrings
  aineko/extras/connectors/websocket_client.py
Due: check-license

docs: upgrade type hints
  aineko/extras/connectors/websocket_client.py
Due: check-license

docs: upgrade type hints
  aineko/extras/connectors/secrets.py
Due: check-license

docs: add more documentation for secret injection
  aineko/extras/connectors/secrets.py
Due: check-license

fix: remove unecessary else blocks
  aineko/extras/connectors/secrets.py
Due: check-license

feat: inject env vars via config loader
  aineko/core/config_loader.py
  aineko/extras/connectors/secrets.py
  aineko/extras/connectors/websocket_client.py
Due: check-license

fix: typos
  aineko/extras/connectors/websocket_client.py
Due: check-license

fix: linting issues
  aineko/core/config_loader.py
  aineko/extras/connectors/websocket_client.py
Due: check-license

docs: document env var injection and fix docs
  aineko/core/config_loader.py
  docs/developer_guide/pipeline_configuration.md
  docs/extras/websocket.md
Due: check-license

tests: upgrade config loader test to check on injected vars
  aineko/core/config_loader.py
  tests/conf/test_pipeline.yml
  tests/core/test_config_loader.py
Due: check-license

chore: use correct deploy version (#128)
  tests/conf/test_deploy.yml
  tests/conf/test_deploy_full.yml
Due: check-license

chore: add doc edit button (#126)
  mkdocs.yml
Due: check-license

fix: move vocab to new location for vale upgrade (#130)
  .gitignore
  docs/.styles/config/vocabularies/Aineko/accept.txt
  docs/.styles/config/vocabularies/Aineko/reject.txt
Due: none

Deployed 51930d3 to dev with MkDocs 1.5.3 and mike 2.0.0
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Deployed d0a16c6 to dev with MkDocs 1.5.3 and mike 2.0.0
  dev/404.html
  dev/aineko_dream/index.html
  dev/api_reference/abstract_node/index.html
  dev/api_reference/config/index.html
  dev/api_reference/config_loader/index.html
  dev/api_reference/dataset_consumer/index.html
  dev/api_reference/dataset_producer/index.html
  dev/api_reference/runner/index.html
  dev/community/index.html
  dev/developer_guide/aineko_project/index.html
  dev/developer_guide/cli/index.html
  dev/developer_guide/concepts/index.html
  dev/developer_guide/config_kafka/index.html
  dev/developer_guide/node_implementation/index.html
  dev/developer_guide/pipeline_configuration/index.html
  dev/examples/aineko_dream/index.html
  dev/extras/fastapi/index.html
  dev/extras/intro/index.html
  dev/index.html
  dev/sitemap.xml.gz
  dev/start/quickstart/index.html
Due: none

fix: capture the last consumed value before processing it Since we pop the message, we need to save the value before processing it, otherwise we yield the next value in line
  aineko/core/node.py
  tests/core/test_node.py
Due: check-license

fix: replace vale orb with custom job
  .circleci/config.yml
Due: check-license

chore: describe job
  .circleci/config.yml
Due: check-license

fix: contributing and examples links in readme (#129)
  README.md
Due: none

Deployed 0632a45 to dev with MkDocs 1.5.3 and mike 2.0.0
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

fix: replace vale orb with custom job (#133)
  .circleci/config.yml
Due: check-license

fix: capture the last consumed value before processing it (#132)
  aineko/core/node.py
  tests/core/test_node.py
Due: check-license

Deployed 1c14372 to dev with MkDocs 1.5.3 and mike 2.0.0
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Path conditions:
  check-license: any of: \.(py|yml|yaml)$, but not: .pre-commit-config.yaml|yamllint.yaml|^docs/.styles/.*$
  poetry-check: any of: pyproject.toml
