Repository aineko-dev/aineko: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, poetry-check

check-license:
  name: Check License Snippet
  entry: python .internals/check_license.py
  language: python
  args:
  - --fix

poetry-check:
  name: Poetry check
  description: Validates the content of the pyproject.toml file and its consistency with the poetry.lock file.
  entry: poetry check
  language: system
  pass_filenames: false

Update test_kafka_edge_cases.py
  tests/integration/test_kafka_edge_cases.py
Due: check-license

feat: add error handling for invalid offset (#112)
  aineko/core/dataset.py
  tests/conf/integration_test_empty_dataset.yml
  tests/integration/test_kafka_edge_cases.py
Due: check-license

Deployed 5bb300b to dev with MkDocs 1.5.3 and mike 2.0.0
  dev/api_reference/config/index.html
  dev/api_reference/dataset_consumer/index.html
  dev/api_reference/dataset_producer/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

chore: bump aineko version
  aineko/__init__.py
  aineko/templates/first_aineko_pipeline/{{cookiecutter.project_slug}}/pyproject.toml
  docs/extras/fastapi.md
  docs/extras/intro.md
  pyproject.toml
Due: check-license, poetry-check

chore: add "uvicorn" module to mypy overrides
  pyproject.toml
Due: poetry-check

Version: 0.2.7 (#116)
  .pre-commit-config.yaml
  aineko/__init__.py
  aineko/templates/first_aineko_pipeline/{{cookiecutter.project_slug}}/pyproject.toml
  docs/extras/fastapi.md
  docs/extras/intro.md
  poetry.lock
  pyproject.toml
Due: check-license, poetry-check

Deployed 9eb3683 to dev with MkDocs 1.5.3 and mike 2.0.0
  dev/extras/fastapi/index.html
  dev/extras/intro/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

feat: implement log_to_dataset
  aineko/core/node.py
  aineko/models/config_schema.py
Due: check-license

tests: add test cases for log_to_dataset
  tests/conftest.py
  tests/core/test_node.py
Due: check-license

chore: upgrade typehints to py310
  .internals/check_license.py
  aineko/cli/docker_cli_wrapper.py
  aineko/cli/run.py
  aineko/cli/visualize.py
  aineko/config.py
  aineko/core/config_loader.py
  aineko/core/dataset.py
  aineko/core/deploy_config_loader.py
  aineko/core/node.py
  aineko/core/node_manager.py
  aineko/core/runner.py
  aineko/extras/fastapi/main.py
  aineko/models/config_schema.py
  aineko/models/deploy_config_schema.py
  aineko/models/deploy_config_schema_internal.py
  aineko/models/project_config_schema.py
  aineko/templates/first_aineko_pipeline/{{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/nodes.py
  aineko/utils/imports.py
  aineko/utils/io.py
  tests/conftest.py
  tests/core/test_node.py
  tests/integration/test_kafka_edge_cases.py
  tests/integration/test_runner_with_kafka.py
Due: check-license

chore: update type hints in docs
  docs/developer_guide/aineko_project.md
  docs/examples/aineko_dream.md
Due: none

doc: document new logging feature
  docs/.styles/Vocab/Aineko/accept.txt
  docs/developer_guide/node_implementation.md
Due: none

feat: implement log_to_dataset at pipeline lvl
  aineko/core/node.py
  aineko/models/config_schema.py
  tests/conf/invalid_node_log_to_dataset.yml
  tests/conf/invalid_pipeline_log_to_dataset.yml
  tests/conf/node_log_to_dataset.yml
  tests/conf/pipeline_dont_log_to_dataset.yml
  tests/conf/pipeline_log_to_dataset.yml
  tests/models/conftest.py
  tests/models/test_log_to_dataset.py
Due: check-license

doc: add explanation for logging parameters precedence
  docs/developer_guide/node_implementation.md
Due: none

chore: upgrade typehints to py310 (#119)
  .internals/check_license.py
  aineko/cli/docker_cli_wrapper.py
  aineko/cli/run.py
  aineko/cli/visualize.py
  aineko/config.py
  aineko/core/config_loader.py
  aineko/core/dataset.py
  aineko/core/deploy_config_loader.py
  aineko/core/node.py
  aineko/core/node_manager.py
  aineko/core/runner.py
  aineko/extras/fastapi/main.py
  aineko/models/config_schema.py
  aineko/models/deploy_config_schema.py
  aineko/models/deploy_config_schema_internal.py
  aineko/models/project_config_schema.py
  aineko/templates/first_aineko_pipeline/{{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/nodes.py
  aineko/utils/imports.py
  aineko/utils/io.py
  docs/developer_guide/aineko_project.md
  docs/examples/aineko_dream.md
  tests/conftest.py
  tests/core/test_node.py
  tests/integration/test_kafka_edge_cases.py
  tests/integration/test_runner_with_kafka.py
Due: check-license

Deployed 7e0b2cf to dev with MkDocs 1.5.3 and mike 2.0.0
  dev/api_reference/abstract_node/index.html
  dev/api_reference/config/index.html
  dev/api_reference/config_loader/index.html
  dev/api_reference/dataset_consumer/index.html
  dev/api_reference/dataset_producer/index.html
  dev/api_reference/runner/index.html
  dev/developer_guide/aineko_project/index.html
  dev/developer_guide/config_kafka/index.html
  dev/examples/aineko_dream/index.html
  dev/extras/fastapi/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

feat: init commit for wss connector node
  aineko/extras/connectors/__init__,py
  aineko/extras/connectors/wss.py
Due: check-license

fix: renaming file
  aineko/extras/connectors/__init__,py
Due: none

fix: update connector module
  aineko/extras/connectors/__init__.py
Due: check-license

fix: rename connector class to WSS
  aineko/extras/connectors/__init__.py
  aineko/extras/connectors/wss.py
Due: check-license

feat: add support for GetHTTPS
  aineko/extras/connectors/__init__.py
Due: check-license

feat: add support for GetHTTPS
  aineko/extras/connectors/https.py
Due: check-license

feat: move secret injection logic to utils and refactor
  aineko/extras/connectors/wss.py
  aineko/utils/secrets.py
Due: check-license

fix: typo
  aineko/extras/connectors/https.py
Due: check-license

chore: remove TODO
  aineko/extras/connectors/wss.py
Due: check-license

fix: rename self.params_wss to self.params and fix logic for create_subscription
  aineko/extras/connectors/wss.py
Due: check-license

feat: add websocket-client and python-dotenv as dependancies
  pyproject.toml
Due: poetry-check

feat: add websocket-client and python-dotenv as dependancies
  poetry.lock
Due: none

feat: add WSS to extra submodules
  aineko/extras/__init__.py
Due: check-license

fix: refactor to fix bugs and support more types
  aineko/utils/secrets.py
Due: check-license

fix: remove import statements at this level
  aineko/extras/connectors/__init__.py
Due: check-license

fix: refactor to fix bugs
  aineko/extras/connectors/wss.py
Due: check-license

feat: add dependencies for wss
  pyproject.toml
Due: poetry-check

fix: properly set WSS dependencies
  poetry.lock
Due: none

fix: linting
  aineko/extras/__init__.py
  aineko/extras/connectors/wss.py
  aineko/utils/secrets.py
Due: check-license

fix: fix linting issues
  aineko/extras/connectors/wss.py
Due: check-license

fix: line too long
  aineko/extras/connectors/wss.py
Due: check-license

fix: linting
  aineko/extras/connectors/wss.py
Due: check-license

fix: mypy issues
  aineko/extras/connectors/wss.py
Due: check-license

docs: document exception catching for pydantic errors
  aineko/extras/connectors/wss.py
Due: check-license

Path conditions:
  check-license: any of: \.(py|yml|yaml)$, but not: .pre-commit-config.yaml|yamllint.yaml|^docs/.styles/.*$
  poetry-check: any of: pyproject.toml
