Repository aineko-dev/aineko: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, poetry-check

check-license:
  name: Check License Snippet
  entry: python .internals/check_license.py
  language: python
  args:
  - --fix

poetry-check:
  name: Poetry check
  description: Validates the content of the pyproject.toml file and its consistency with the poetry.lock file.
  entry: poetry check
  language: system
  pass_filenames: false

Deployed 75b9139 to 0.3 with MkDocs 1.5.3 and mike 2.0.0
  0.3/extras/fastapi/index.html
  0.3/extras/http_poller/index.html
  0.3/extras/intro/index.html
  0.3/extras/websocket_client/index.html
  0.3/search/search_index.json
  0.3/sitemap.xml.gz
  latest/extras/fastapi/index.html
  latest/extras/http_poller/index.html
  latest/extras/intro/index.html
  latest/extras/websocket_client/index.html
  latest/search/search_index.json
  latest/sitemap.xml.gz
Due: none

feat: _initialize method
  aineko/core/node.py
  aineko/core/runner.py
  aineko/datasets/core.py
  aineko/datasets/kafka.py
Due: check-license

feat: dream cli to have create and check commands
  aineko/cli/dream.py
Due: check-license

docs: improved docstrings
  aineko/cli/dream.py
Due: check-license

feat: added defaults for CLI options
  aineko/cli/dream.py
Due: check-license

docs: added CLI docs
  docs/aineko_dream.md
Due: none

docs: update aineko dream docs
  docs/aineko_dream.md
Due: none

fix: arg default error
  aineko/cli/dream.py
Due: check-license

chore: update lint
  aineko/cli/dream.py
Due: check-license

refactor: update type hints for python3.8 compatibility
  aineko/datasets/core.py
  aineko/datasets/kafka.py
Due: check-license

chore: exists method and python 3.8 compatibility
  aineko/datasets/core.py
  aineko/datasets/kafka.py
Due: check-license

refactor: updated fastapi extras node syntax
  aineko/extras/fastapi/__init__.py
  aineko/extras/fastapi/main.py
Due: check-license

chore: update fastapi tests
  tests/extras/fastapi/main.py
  tests/extras/fastapi/test_fastapi.py
  tests/extras/fastapi/test_fastapi.yml
Due: check-license

chore: lint
  tests/extras/fastapi/test_fastapi.py
Due: check-license

chore: update fastapi version in pyproject.toml
  poetry.lock
  pyproject.toml
Due: poetry-check

Deployed 9f06e3d to dev with MkDocs 1.5.3 and mike 2.0.0
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

chore: bump fastapi to bump starlette
  poetry.lock
  pyproject.toml
Due: poetry-check

chore: update requirement syntax
  poetry.lock
  pyproject.toml
Due: poetry-check

chore: update Aineko version to 0.3.1
  aineko/__init__.py
  aineko/templates/first_aineko_pipeline/{{cookiecutter.project_slug}}/pyproject.toml
  docs/extras/fastapi.md
  docs/extras/http_poller.md
  docs/extras/intro.md
  docs/extras/websocket_client.md
  pyproject.toml
Due: check-license, poetry-check

chore: upgrade fastapi dependencies (#153)
  aineko/__init__.py
  aineko/templates/first_aineko_pipeline/{{cookiecutter.project_slug}}/pyproject.toml
  docs/extras/fastapi.md
  docs/extras/http_poller.md
  docs/extras/intro.md
  docs/extras/websocket_client.md
  poetry.lock
  pyproject.toml
Due: check-license, poetry-check

Deployed e4ef61c to dev with MkDocs 1.5.3 and mike 2.0.0
  dev/extras/fastapi/index.html
  dev/extras/http_poller/index.html
  dev/extras/intro/index.html
  dev/extras/websocket_client/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

feat: remove aineko extras in favor of aineko-plugins
  aineko/extras/__init__.py
  aineko/extras/connectors/__init__.py
  aineko/extras/connectors/http_poller.py
  aineko/extras/connectors/websocket_client.py
  aineko/extras/fastapi/__init__.py
  aineko/extras/fastapi/health.py
  aineko/extras/fastapi/main.py
  tests/extras/__init__.py
  tests/extras/connectors/__init__.py
  tests/extras/connectors/test_http_poller.py
  tests/extras/connectors/test_http_poller.yml
  tests/extras/connectors/test_http_server.py
  tests/extras/connectors/test_websocket_client.py
  tests/extras/connectors/test_websocket_client.yml
  tests/extras/fastapi/__init__.py
  tests/extras/fastapi/main.py
  tests/extras/fastapi/test_fastapi.py
  tests/extras/fastapi/test_fastapi.yml
Due: check-license

feat: add new plugins as deps
  poetry.lock
  pyproject.toml
Due: poetry-check

doc: update docs for aineko-plugins
  docs/index.md
  docs/plugins/fastapi-server.md
  docs/plugins/http-poller.md
  docs/plugins/intro.md
  docs/plugins/websocket-client.md
  mkdocs.yml
Due: check-license

chore: added 'block' kwarg to _read
  aineko/datasets/kafka.py
Due: check-license

chore: update unit tests and integration tests
  tests/conf/integration_test_empty_dataset.yml
  tests/conf/integration_test_read.yml
  tests/conf/integration_test_write.yml
  tests/conf/test_invalid_pipeline.yml
  tests/conf/test_pipeline.yml
  tests/core/test_config_loader.py
  tests/integration/test_kafka_edge_cases.py
  tests/integration/test_runner_with_kafka.py
Due: check-license

chore: outline for AbstractAsyncDataset class
  aineko/datasets/core.py
Due: check-license

Revert "chore: outline for AbstractAsyncDataset class"
  aineko/datasets/core.py
Due: check-license

chore: core.py moved to core/dataset.py
  aineko/__init__.py
  aineko/core/dataset.py
  aineko/core/dataset_orig.py
  aineko/core/node.py
  aineko/core/runner.py
  aineko/datasets/core.py
  aineko/datasets/kafka.py
  aineko/extras/fastapi/main.py
Due: check-license

chore: mypy lint style updates
  aineko/core/dataset.py
  aineko/core/dataset_orig.py
  aineko/core/runner.py
  aineko/datasets/kafka.py
  aineko/extras/fastapi/main.py
Due: check-license

chore: test fix inputs
  aineko/core/dataset.py
  aineko/datasets/kafka.py
Due: check-license

chore: update `target` to `location` for dataset config
  aineko/core/dataset.py
  aineko/core/runner.py
  tests/conf/integration_test_empty_dataset.yml
  tests/conf/integration_test_read.yml
  tests/conf/integration_test_write.yml
  tests/conf/test_invalid_pipeline.yml
  tests/conf/test_pipeline.yml
  tests/core/test_config_loader.py
  tests/extras/connectors/test_websocket_client.yml
  tests/extras/fastapi/test_fastapi.yml
Due: check-license

chore: remove print statements
  tests/integration/test_kafka_edge_cases.py
Due: check-license

chore: update default location and setting
  aineko/datasets/kafka.py
Due: check-license

chore: update cookiecutter tests
  aineko/templates/first_aineko_pipeline/{{cookiecutter.project_slug}}/conf/pipeline.yml
  aineko/templates/first_aineko_pipeline/{{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/nodes.py
Due: check-license

chore: add aineko-style back to pylint plugins
  poetry.lock
  pyproject.toml
Due: poetry-check

chore: update pyproject links
  pyproject.toml
Due: poetry-check

chore: bump aineko to 0.3.2
  aineko/__init__.py
  aineko/templates/first_aineko_pipeline/{{cookiecutter.project_slug}}/pyproject.toml
  pyproject.toml
Due: check-license, poetry-check

doc: update install instructions
  docs/plugins/fastapi-server.md
  docs/plugins/http-poller.md
  docs/plugins/intro.md
  docs/plugins/websocket-client.md
Due: none

chore: remove DatasetConsumer and DatasetProducer from tests
  aineko/__init__.py
  aineko/datasets/kafka.py
  tests/extras/connectors/test_websocket_client.py
  tests/extras/fastapi/test_fastapi.py
  tests/integration/test_kafka_edge_cases.py
  tests/integration/test_runner_with_kafka.py
Due: check-license

Path conditions:
  check-license: any of: \.(py|yml|yaml)$, but not: .pre-commit-config.yaml|yamllint.yaml|^docs/.styles/.*$
  poetry-check: any of: pyproject.toml
