Repository aineko-dev/aineko: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, poetry-check

check-license:
  name: Check License Snippet
  entry: python .internals/check_license.py
  language: python
  args:
  - --fix

poetry-check:
  name: Poetry check
  description: Validates the content of the pyproject.toml file and its consistency with the poetry.lock file.
  entry: poetry check
  language: system
  pass_filenames: false

Deployed 9583d55 to dev with MkDocs 1.5.3 and mike 2.0.0
  dev/api_reference/abstract_node/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

fix: update python versions in aineko create
  aineko/templates/first_aineko_pipeline/{{cookiecutter.project_slug}}/pyproject.toml
Due: poetry-check

doc: update python versions in the docs
  docs/community/index.md
  docs/extras/intro.md
  docs/start/quickstart.md
Due: none

feat: add test for websocket client node
  pyproject.toml
  tests/extras/connectors/test_websocket_client.py
  tests/extras/connectors/test_websocket_client.yml
Due: check-license, poetry-check

chore: update poetry lock
  poetry.lock
Due: none

fix: linting
  aineko/core/config_loader.py
  tests/core/test_config_loader.py
Due: check-license

fix: update hostname
  tests/extras/connectors/test_websocket_client.yml
Due: check-license

fix: ensure only one output dataset is provided and only emit to one dataset
  aineko/extras/connectors/websocket_client.py
Due: check-license

fix: rename docs/extras/websocket.md to docs/extras/websocket_client.md
  docs/extras/websocket_client.md
Due: none

doc: document potential AttributeError
  aineko/utils/imports.py
Due: check-license

feat: add error handling for invalid node class names in config
  aineko/core/runner.py
Due: check-license

feat: better error description for invalid class name (#135)
  aineko/core/runner.py
  aineko/utils/imports.py
Due: check-license

Deployed 870bae2 to dev with MkDocs 1.5.3 and mike 2.0.0
  dev/api_reference/runner/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

chore: remove unused _update_params
  aineko/core/config_loader.py
Due: check-license

chore: remove unused 'env_vars' attribute from config_loader.py and deploy_config_schema_internal.py
  aineko/core/config_loader.py
  aineko/models/deploy_config_schema_internal.py
  aineko/templates/first_aineko_pipeline/{{cookiecutter.project_slug}}/deploy.yml
  tests/conf/test_deploy.yml
  tests/conf/test_deploy_full.yml
  tests/models/test_deploy_config_schema.py
Due: check-license

feat: replace message dict with WrappedMessage model
  aineko/core/dataset.py
  aineko/core/node.py
  aineko/models/base.py
Due: check-license

tests: update test cases for new message implementation
  tests/conftest.py
  tests/core/test_dataset.py
  tests/core/test_node.py
Due: check-license

chore: add missing __init__
  tests/templates/first_aineko_pipeline/__init__.py
  tests/utils/__init__.py
Due: check-license

fix: try to deserialize raw_message if it's a str
  aineko/core/dataset.py
Due: check-license

feat: allow message and end_message to be a dict or str
  aineko/core/dataset.py
  aineko/models/base.py
  tests/integration/test_kafka_edge_cases.py
  tests/integration/test_runner_with_kafka.py
Due: check-license

fix: prevent unbound variable
  aineko/core/dataset.py
Due: check-license

doc: update code where we access the message of a msg
  docs/developer_guide/node_implementation.md
  docs/examples/aineko_dream.md
Due: none

refactor: rename WrappedMessage to MessageData
  aineko/core/dataset.py
  aineko/models/base.py
Due: check-license

doc: Explain the MessageData model
  aineko/models/base.py
  docs/api_reference/message_data.md
  mkdocs.yml
Due: check-license

feat: update mkdocs serve command to watch both docs and aineko directory
  Makefile
Due: none

doc: update docstrings with correct indentation & special characters
  aineko/cli/create_pipeline.py
  aineko/cli/kafka_cli_wrapper.py
  aineko/cli/visualize.py
  aineko/core/config_loader.py
  aineko/core/dataset.py
  aineko/core/deploy_config_loader.py
  aineko/core/node.py
  aineko/core/runner.py
  aineko/utils/imports.py
Due: check-license

chore: update doc links
  docs/index.md
Due: none

Deployed 5e2c5e3 to dev with MkDocs 1.5.3 and mike 2.0.0
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

doc: better Pydantic model documentation
  docs/api_reference/config.md
  mkdocs.yml
Due: check-license

doc: merge init into class Always use false for pydantic models because this renders the __init__ from BaseModel
  docs/api_reference/config.md
  mkdocs.yml
Due: check-license

doc: show summaries
  mkdocs.yml
Due: check-license

Deployed 1a5f764 to docstrings with MkDocs 1.5.3 and mike 2.0.0
  docstrings/api_reference/abstract_node/index.html
  docstrings/api_reference/config/index.html
  docstrings/api_reference/config_loader/index.html
  docstrings/api_reference/dataset_consumer/index.html
  docstrings/api_reference/dataset_producer/index.html
  docstrings/api_reference/runner/index.html
  docstrings/developer_guide/config_kafka/index.html
  docstrings/extras/fastapi/index.html
  docstrings/objects.inv
  docstrings/search/search_index.json
  docstrings/sitemap.xml
  docstrings/sitemap.xml.gz
Due: none

doc: document how to consume messages
  docs/developer_guide/node_implementation.md
Due: none

doc: add mkdocstrings options to page
  docs/api_reference/message_data.md
Due: none

fix: update template code
  aineko/templates/first_aineko_pipeline/{{cookiecutter.project_slug}}/tests/test_nodes.py
  aineko/templates/first_aineko_pipeline/{{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/nodes.py
Due: check-license

fix: FastAPI test cases
  tests/extras/fastapi/main.py
  tests/extras/fastapi/test_fastapi.py
Due: check-license

chore: run pytest with -svv to print helpful information
  .circleci/config.yml
Due: check-license

chore: use --no-ansi instead of --quiet for poetry
  .circleci/config.yml
Due: check-license

chore: remove dead code (#136)
  aineko/core/config_loader.py
  aineko/models/deploy_config_schema_internal.py
  aineko/templates/first_aineko_pipeline/{{cookiecutter.project_slug}}/deploy.yml
  tests/conf/test_deploy.yml
  tests/conf/test_deploy_full.yml
  tests/models/test_deploy_config_schema.py
Due: check-license

Path conditions:
  check-license: any of: \.(py|yml|yaml)$, but not: .pre-commit-config.yaml|yamllint.yaml|^docs/.styles/.*$
  poetry-check: any of: pyproject.toml
