Repository aineko-dev/aineko: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, poetry-check

.pre-commit-config.yaml:

# Only run on commit.
default_stages: [commit]
# Stop running hooks after the first failure.
fail_fast: true

# Source for the hooks. Used by pre-commit to install the hooks.
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      # Trim trailing whitespace.
      - id: trailing-whitespace
        exclude: docs/
      # Ensures that a file is either empty, or ends with one newline.
      - id: end-of-file-fixer
        exclude: docs/
      # Protect specific branches from direct commits.
      - id: no-commit-to-branch
        args: [--branch, develop, --branch, production]
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      # Use black to format the code.
      - id: black
        files: \.py$
        exclude: .*{{cookiecutter.project_slug}}\/tests\/.*.py
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      # Use isort for sorting imports.
      - id: isort
        additional_dependencies: ["toml"]
        files: \.py$
  - repo: https://github.com/google/yamlfmt
    # Format yaml files if needed.
    rev: v0.9.0
    hooks:
      - id: yamlfmt
        args: [
          "-formatter",
          "retain_line_breaks=true",
          "-formatter",
          "max_line_length=80",
          "-formatter",
          "scan_folded_as_literal=true", # !yamlfmt!:ignore
        ]
        files: \.(yml|yaml)$
        # exclude all pipeline/deploy files in template due to double brace {{}}
        # exclude all docs/styles/*/*.yml
        exclude: ^aineko/templates/.*(yaml|yml)$|^docs/.styles/.*(yaml|yml)$
  - repo: local
    hooks:
      - id: check-license
        name: Check License Snippet
        entry: python .internals/check_license.py
        language: python
        files: \.(py|yml|yaml)$
        exclude: .pre-commit-config.yaml|yamllint.yaml|^docs/.styles/.*$
        args: ["--fix"]
      - id: poetry-check
        name: Poetry check
        description: Validates the content of the pyproject.toml file and its consistency
          with the poetry.lock file.
        entry: poetry check
        language: system
        pass_filenames: false
        files: pyproject.toml

chore: added AbstractDataset to aineko __init__
  aineko/__init__.py
  aineko/core/runner.py
  aineko/datasets/kafka.py
  aineko/extras/fastapi/main.py
  tests/extras/connectors/test_websocket_client.py
  tests/extras/fastapi/test_fastapi.py
  tests/integration/test_kafka_edge_cases.py
  tests/integration/test_runner_with_kafka.py
Due: check-license

chore: generic typing updates
  aineko/core/dataset.py
  aineko/datasets/kafka.py
Due: check-license

chore: docstring updates
  aineko/core/dataset.py
  aineko/core/dataset_orig.py
  aineko/datasets/kafka.py
Due: check-license

docs: mkdocs updates
  docs/api_reference/abstract_dataset.md
  docs/api_reference/dataset_consumer.md
  docs/api_reference/dataset_producer.md
  docs/api_reference/kafka_dataset.md
  docs/index.md
  mkdocs.yml
Due: check-license

chore: vale lint fix
  docs/api_reference/abstract_dataset.md
Due: none

chore: simpler typehint for abstractdataset definition
  aineko/core/dataset.py
Due: check-license

feat: replace plugin docs with reference to plugin-docs.aineko.dev
  docs/index.md
  docs/plugins/fastapi-server.md
  docs/plugins/http-poller.md
  docs/plugins/intro.md
  docs/plugins/websocket-client.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: check-license, poetry-check

feat: replace extras with aineko-plugins - BLD-1343 (#154)
  aineko/__init__.py
  aineko/extras/__init__.py
  aineko/extras/connectors/__init__.py
  aineko/extras/connectors/http_poller.py
  aineko/extras/connectors/websocket_client.py
  aineko/extras/fastapi/__init__.py
  aineko/extras/fastapi/health.py
  aineko/extras/fastapi/main.py
  aineko/templates/first_aineko_pipeline/{{cookiecutter.project_slug}}/pyproject.toml
  docs/extras/fastapi.md
  docs/extras/http_poller.md
  docs/extras/intro.md
  docs/extras/websocket_client.md
  docs/index.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/extras/__init__.py
  tests/extras/connectors/__init__.py
  tests/extras/connectors/test_http_poller.py
  tests/extras/connectors/test_http_poller.yml
  tests/extras/connectors/test_http_server.py
  tests/extras/connectors/test_websocket_client.py
  tests/extras/connectors/test_websocket_client.yml
  tests/extras/fastapi/__init__.py
  tests/extras/fastapi/main.py
  tests/extras/fastapi/test_fastapi.py
  tests/extras/fastapi/test_fastapi.yml
Due: check-license, poetry-check

Deployed 75bde78 to dev with MkDocs 1.5.3 and mike 2.0.0
  dev/404.html
  dev/aineko_dream/index.html
  dev/api_reference/abstract_node/index.html
  dev/api_reference/config/index.html
  dev/api_reference/config_loader/index.html
  dev/api_reference/dataset_consumer/index.html
  dev/api_reference/dataset_producer/index.html
  dev/api_reference/runner/index.html
  dev/community/index.html
  dev/developer_guide/aineko_project/index.html
  dev/developer_guide/cli/index.html
  dev/developer_guide/concepts/index.html
  dev/developer_guide/config_kafka/index.html
  dev/developer_guide/node_implementation/index.html
  dev/developer_guide/pipeline_configuration/index.html
  dev/examples/aineko_dream/index.html
  dev/extras/fastapi/index.html
  dev/extras/http_poller/index.html
  dev/extras/intro/index.html
  dev/extras/websocket_client/index.html
  dev/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/start/quickstart/index.html
Due: none

chore: minor fixes
  aineko/core/dataset.py
  aineko/core/node.py
  aineko/core/runner.py
  aineko/extras/connectors/http_poller.py
  aineko/models/config_schema.py
Due: check-license

chore: update tests
  tests/extras/connectors/test_http_poller.py
  tests/extras/connectors/test_http_poller.yml
  tests/extras/fastapi/test_fastapi.py
  tests/integration/test_runner_with_kafka.py
Due: check-license

chore: clearer pylint for FakeDatasetInput
  aineko/datasets/kafka.py
Due: check-license

style: remove quotes from mkdocs yaml
  mkdocs.yml
Due: check-license

chore: default value for location
  aineko/models/config_schema.py
Due: check-license

chore: remove print statements from tests
  tests/conftest.py
  tests/integration/test_runner_with_kafka.py
Due: check-license

chore: source_node and source_pipeline attributes
  aineko/core/node.py
  aineko/datasets/kafka.py
  tests/integration/test_runner_with_kafka.py
Due: check-license

chore: remove old comments
  aineko/core/node.py
Due: check-license

chore: docstring fix remove consumers producers
  aineko/core/node.py
Due: check-license

chore: docstring cleanup
  aineko/core/node.py
Due: check-license

chore: combined test readers and writers
  aineko/core/node.py
  aineko/datasets/kafka.py
  tests/core/test_dataset.py
  tests/datasets/test_kafka.py
Due: check-license

chore: tests for default `location` value
  aineko/datasets/kafka.py
  tests/conf/integration_test_no_location_config.yml
  tests/datasets/test_kafka.py
  tests/integration/test_runner_with_kafka.py
Due: check-license

chore: lint and docstrings
  aineko/core/dataset.py
  tests/datasets/test_kafka.py
Due: check-license

chore: change name to KafkaDataset
  aineko/core/dataset.py
  aineko/core/runner.py
  aineko/datasets/kafka.py
  aineko/templates/first_aineko_pipeline/{{cookiecutter.project_slug}}/conf/pipeline.yml
  docs/api_reference/kafka_dataset.md
  tests/conf/integration_test_empty_dataset.yml
  tests/conf/integration_test_no_location_config.yml
  tests/conf/integration_test_read.yml
  tests/conf/integration_test_write.yml
  tests/conf/test_invalid_pipeline.yml
  tests/conf/test_pipeline.yml
  tests/core/test_config_loader.py
  tests/datasets/test_kafka.py
  tests/integration/test_kafka_edge_cases.py
  tests/integration/test_runner_with_kafka.py
Due: check-license

chore: update terminology
  aineko/core/node.py
  aineko/templates/first_aineko_pipeline/{{cookiecutter.project_slug}}/tests/test_nodes.py
  aineko/templates/first_aineko_pipeline/{{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/nodes.py
  docs/developer_guide/aineko_project.md
  docs/developer_guide/concepts.md
  docs/developer_guide/node_implementation.md
  docs/developer_guide/pipeline_configuration.md
  docs/start/quickstart.md
  tests/conftest.py
  tests/integration/test_kafka_edge_cases.py
  tests/integration/test_runner_with_kafka.py
Due: check-license

doc: update aineko stream command
  aineko/templates/first_aineko_pipeline/{{cookiecutter.project_slug}}/README.md
  docs/start/quickstart.md
Due: none

chore: add __str__ method and remove _describe
  aineko/core/dataset.py
  aineko/datasets/kafka.py
Due: check-license

chore: remove AbstractDataset from root level of package
  aineko/__init__.py
  aineko/core/runner.py
  aineko/datasets/kafka.py
  tests/integration/test_kafka_edge_cases.py
  tests/integration/test_runner_with_kafka.py
Due: check-license

chore: update aineko dream docs to new syntax
  docs/examples/aineko_dream.md
Due: none

chore: word order and docs name update
  docs/developer_guide/node_implementation.md
  docs/index.md
Due: none

chore: try except poison pill order update
  tests/integration/test_runner_with_kafka.py
Due: check-license

chore: remove wrapper functions for abstract dataset
  aineko/core/dataset.py
  aineko/datasets/kafka.py
  tests/integration/test_runner_with_kafka.py
Due: check-license

feat: create and delete methods
  aineko/extras/__init__.py
  aineko/extras/datasets/__init__.py
  aineko/extras/datasets/postgres.py
  poetry.lock
  pyproject.toml
  tests/extras/datasets/postgres.py
Due: check-license, poetry-check

feat: add AsyncAbstractDataset
  aineko/core/dataset.py
Due: check-license

refactor: turn postgres dataset into async dataset
  aineko/extras/datasets/postgres.py
  poetry.lock
  pyproject.toml
  tests/extras/datasets/postgres.py
Due: check-license, poetry-check

refactor: rename postgres dataset
  aineko/extras/__init__.py
  aineko/extras/datasets/postgres.py
Due: check-license

chore: add boto3-stubs and mypy-boto3-rds dependencies
  poetry.lock
  pyproject.toml
Due: poetry-check

refactor: turn class into an async context manager
  aineko/extras/datasets/postgres.py
Due: check-license

refactor: type hint AWSDatasetHelper
  aineko/extras/datasets/postgres.py
Due: check-license

refactor: execute_query method to optimally use the connection pool
  aineko/extras/datasets/postgres.py
Due: check-license
