Repository aineko-dev/aineko: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, poetry-check

check-license:
  name: Check License Snippet
  entry: python .internals/check_license.py
  language: python
  args:
  - --fix

poetry-check:
  name: Poetry check
  description: Validates the content of the pyproject.toml file and its consistency with the poetry.lock file.
  entry: poetry check
  language: system
  pass_filenames: false

Deployed bc25cda to dev with MkDocs 1.5.3 and mike 2.0.0
  dev/api_reference/config_loader/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

chore: remove commented lines
  .circleci/config.yml
Due: check-license

fix: remove print statements from config loader tests
  tests/core/test_config_loader.py
Due: check-license

feat: set default retry logic to retry forever
  aineko/extras/connectors/websocket_client.py
Due: check-license

Feat: WebSocket Connector Node Extra (#121)
  aineko/core/config_loader.py
  aineko/extras/__init__.py
  aineko/extras/connectors/__init__.py
  aineko/extras/connectors/websocket_client.py
  docs/developer_guide/pipeline_configuration.md
  docs/extras/websocket_client.md
  docs/index.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/conf/test_pipeline.yml
  tests/core/test_config_loader.py
  tests/extras/connectors/test_websocket_client.py
  tests/extras/connectors/test_websocket_client.yml
Due: check-license, poetry-check

Deployed 5b4594c to dev with MkDocs 1.5.3 and mike 2.0.0
  dev/404.html
  dev/aineko_dream/index.html
  dev/api_reference/abstract_node/index.html
  dev/api_reference/config/index.html
  dev/api_reference/config_loader/index.html
  dev/api_reference/dataset_consumer/index.html
  dev/api_reference/dataset_producer/index.html
  dev/api_reference/runner/index.html
  dev/assets/_mkdocstrings.css
  dev/community/index.html
  dev/developer_guide/aineko_project/index.html
  dev/developer_guide/cli/index.html
  dev/developer_guide/concepts/index.html
  dev/developer_guide/config_kafka/index.html
  dev/developer_guide/node_implementation/index.html
  dev/developer_guide/pipeline_configuration/index.html
  dev/examples/aineko_dream/index.html
  dev/extras/fastapi/index.html
  dev/extras/intro/index.html
  dev/extras/websocket_client/index.html
  dev/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/start/quickstart/index.html
Due: none

doc: fix docstring indentation & better Pydantic integration with docs (#137)
  Makefile
  aineko/cli/create_pipeline.py
  aineko/cli/kafka_cli_wrapper.py
  aineko/cli/visualize.py
  aineko/core/config_loader.py
  aineko/core/dataset.py
  aineko/core/deploy_config_loader.py
  aineko/core/node.py
  aineko/core/runner.py
  aineko/utils/imports.py
  docs/api_reference/config.md
  docs/index.md
  mkdocs.yml
Due: check-license

Deployed da16a29 to dev with MkDocs 1.5.3 and mike 2.0.0
  dev/api_reference/abstract_node/index.html
  dev/api_reference/config/index.html
  dev/api_reference/config_loader/index.html
  dev/api_reference/dataset_consumer/index.html
  dev/api_reference/dataset_producer/index.html
  dev/api_reference/runner/index.html
  dev/developer_guide/cli/index.html
  dev/developer_guide/config_kafka/index.html
  dev/developer_guide/pipeline_configuration/index.html
  dev/extras/fastapi/index.html
  dev/extras/websocket_client/index.html
  dev/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

refactor: latest merge compatible with all python versions
  aineko/core/config_loader.py
  aineko/extras/connectors/websocket_client.py
  tests/extras/connectors/test_websocket_client.py
Due: check-license

feat: support more python versions (#134)
  .circleci/config.yml
  .internals/check_license.py
  aineko/cli/docker_cli_wrapper.py
  aineko/cli/run.py
  aineko/cli/visualize.py
  aineko/config.py
  aineko/core/config_loader.py
  aineko/core/dataset.py
  aineko/core/deploy_config_loader.py
  aineko/core/node.py
  aineko/core/node_manager.py
  aineko/core/runner.py
  aineko/extras/connectors/websocket_client.py
  aineko/extras/fastapi/main.py
  aineko/models/config_schema.py
  aineko/models/deploy_config_schema.py
  aineko/models/deploy_config_schema_internal.py
  aineko/models/project_config_schema.py
  aineko/templates/first_aineko_pipeline/{{cookiecutter.project_slug}}/pyproject.toml
  aineko/templates/first_aineko_pipeline/{{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/nodes.py
  aineko/utils/imports.py
  aineko/utils/io.py
  aineko/utils/misc.py
  docs/community/index.md
  docs/developer_guide/aineko_project.md
  docs/examples/aineko_dream.md
  docs/extras/intro.md
  docs/start/quickstart.md
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/core/test_node.py
  tests/core/test_runner.py
  tests/extras/connectors/test_websocket_client.py
  tests/integration/test_kafka_edge_cases.py
  tests/integration/test_runner_with_kafka.py
Due: check-license, poetry-check

Deployed ecd56ea to dev with MkDocs 1.5.3 and mike 2.0.0
  dev/api_reference/abstract_node/index.html
  dev/api_reference/config/index.html
  dev/api_reference/config_loader/index.html
  dev/api_reference/dataset_consumer/index.html
  dev/api_reference/dataset_producer/index.html
  dev/api_reference/runner/index.html
  dev/community/index.html
  dev/developer_guide/aineko_project/index.html
  dev/developer_guide/config_kafka/index.html
  dev/developer_guide/pipeline_configuration/index.html
  dev/examples/aineko_dream/index.html
  dev/extras/fastapi/index.html
  dev/extras/intro/index.html
  dev/extras/websocket_client/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/start/quickstart/index.html
Due: none

fix: rename websocket doc
  docs/extras/websocket.md
Due: none

fix: remove non-existing args from docstring These were already removed, but accidentally added back after a PR merge.
  aineko/core/node.py
Due: check-license

chore: remove deprecated escape sequence from docstring This was originally added to open the page in a new tab, but it also works without it.
  aineko/extras/connectors/websocket_client.py
  aineko/extras/fastapi/main.py
Due: check-license

doc: update module docstring
  aineko/extras/connectors/websocket_client.py
Due: check-license

chore: remove obsolete pylint disable
  aineko/extras/connectors/websocket_client.py
Due: check-license

feat: fastapi health router endpoint
  aineko/extras/fastapi/__init__.py
  aineko/extras/fastapi/health.py
Due: check-license

test: added health endpoint to integration test
  tests/extras/fastapi/main.py
  tests/extras/fastapi/test_fastapi.py
Due: check-license

docs: added health check endpoint to docs
  docs/extras/fastapi.md
Due: none

feat: support user defined success_codes
  aineko/extras/connectors/rest_poller.py
Due: check-license

fix: docstring updates + small bug
  aineko/extras/connectors/rest_poller.py
Due: check-license

fix: resolve several small bugs
  aineko/extras/connectors/rest_poller.py
  aineko/extras/connectors/websocket_client.py
  docs/extras/websocket.md
  poetry.lock
  pyproject.toml
Due: check-license, poetry-check

fix: sleep until poll interval passes and other minor fixes
  aineko/extras/connectors/rest_poller.py
Due: check-license

docs: add docstrings and add docs page for RestPoller
  aineko/extras/connectors/rest_poller.py
  aineko/extras/connectors/websocket_client.py
  docs/extras/rest_poller.md
Due: check-license

fix: linting issues
  aineko/extras/connectors/rest_poller.py
  aineko/extras/connectors/websocket_client.py
Due: check-license

fix: typehints
  aineko/extras/connectors/rest_poller.py
Due: check-license

feat: add integration test for node
  aineko/extras/connectors/rest_poller.py
  tests/extras/connectors/main.py
  tests/extras/connectors/test_rest_poller.py
  tests/extras/connectors/test_rest_poller.yml
Due: check-license

docs: misc fixes (#141)
  aineko/core/node.py
  aineko/extras/connectors/websocket_client.py
  aineko/extras/fastapi/main.py
  docs/extras/websocket.md
Due: check-license

Deployed e017eba to dev with MkDocs 1.5.3 and mike 2.0.0
  dev/404.html
  dev/aineko_dream/index.html
  dev/api_reference/abstract_node/index.html
  dev/api_reference/config/index.html
  dev/api_reference/config_loader/index.html
  dev/api_reference/dataset_consumer/index.html
  dev/api_reference/dataset_producer/index.html
  dev/api_reference/runner/index.html
  dev/community/index.html
  dev/developer_guide/aineko_project/index.html
  dev/developer_guide/cli/index.html
  dev/developer_guide/concepts/index.html
  dev/developer_guide/config_kafka/index.html
  dev/developer_guide/node_implementation/index.html
  dev/developer_guide/pipeline_configuration/index.html
  dev/examples/aineko_dream/index.html
  dev/extras/fastapi/index.html
  dev/extras/intro/index.html
  dev/extras/websocket/index.html
  dev/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/start/quickstart/index.html
Due: none

chore: docs update and endpoint status
  aineko/extras/fastapi/health.py
  docs/extras/fastapi.md
Due: check-license

chore: add middleware to spelling list
  docs/.styles/config/vocabularies/Aineko/accept.txt
Due: none

chore: address PR feedback
  aineko/extras/fastapi/__init__.py
  aineko/extras/fastapi/health.py
  docs/extras/fastapi.md
Due: check-license

Update aineko/extras/connectors/rest_poller.py
  aineko/extras/connectors/rest_poller.py
Due: check-license

Update docs/extras/rest_poller.md
  docs/extras/rest_poller.md
Due: none

fix: update mkdocs config
  mkdocs.yml
Due: check-license

fix: rename fastapi app name
  tests/extras/connectors/test_rest_poller.yml
  tests/extras/connectors/test_rest_server.py
Due: check-license

docs: add documentation about single output dataset support
  aineko/extras/connectors/rest_poller.py
  aineko/extras/connectors/websocket_client.py
Due: check-license

docs: remove a few useless comments
  aineko/extras/connectors/rest_poller.py
  aineko/extras/connectors/websocket_client.py
Due: check-license

feat: initial design
  aineko/datasets/__init__.py
  aineko/datasets/core.py
  aineko/utils/imports.py
Due: check-license

docs: small docstring changes
  aineko/extras/connectors/rest_poller.py
Due: check-license

Path conditions:
  check-license: any of: \.(py|yml|yaml)$, but not: .pre-commit-config.yaml|yamllint.yaml|^docs/.styles/.*$
  poetry-check: any of: pyproject.toml
