Repository aineko-dev/aineko: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, poetry-check

check-license:
  name: Check License Snippet
  entry: python .internals/check_license.py
  language: python
  args:
  - --fix

poetry-check:
  name: Poetry check
  description: Validates the content of the pyproject.toml file and its consistency with the poetry.lock file.
  entry: poetry check
  language: system
  pass_filenames: false

chore: update Aineko version to 0.3.3
  aineko/__init__.py
  aineko/templates/first_aineko_pipeline/{{cookiecutter.project_slug}}/pyproject.toml
  pyproject.toml
Due: check-license, poetry-check

fix: convert Dataset pydantic objects to dicts
  aineko/core/node.py
  aineko/core/runner.py
Due: check-license

fix: use different topic_name
  tests/integration/test_kafka_topic_creation.py
Due: check-license

fix: don't set max.message.bytes in consumer config
  aineko/core/dataset.py
Due: check-license

Deployed 3c71364 to 0.3 with MkDocs 1.5.3 and mike 2.0.0
  0.3/api_reference/abstract_node/index.html
  0.3/api_reference/runner/index.html
  0.3/developer_guide/config_kafka/index.html
  0.3/objects.inv
  0.3/search/search_index.json
  0.3/sitemap.xml
  0.3/sitemap.xml.gz
  latest/404.html
  latest/aineko_dream/index.html
  latest/api_reference/abstract_dataset/index.html
  latest/api_reference/abstract_node/index.html
  latest/api_reference/config/index.html
  latest/api_reference/config_loader/index.html
  latest/api_reference/dataset_consumer/index.html
  latest/api_reference/dataset_producer/index.html
  latest/api_reference/kafka_dataset/index.html
  latest/api_reference/models/index.html
  latest/api_reference/runner/index.html
  latest/community/index.html
  latest/developer_guide/aineko_project/index.html
  latest/developer_guide/cli/index.html
  latest/developer_guide/concepts/index.html
  latest/developer_guide/config_kafka/index.html
  latest/developer_guide/node_implementation/index.html
  latest/developer_guide/pipeline_configuration/index.html
  latest/examples/aineko_dream/index.html
  latest/index.html
  latest/objects.inv
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/start/quickstart/index.html
  versions.json
Due: none

Set default version to 0.3 with mike 2.0.0
  index.html
Due: none

chore: bump version
  aineko/__init__.py
  aineko/templates/first_aineko_pipeline/{{cookiecutter.project_slug}}/pyproject.toml
  pyproject.toml
Due: check-license, poetry-check

Deployed 1681c23 to 0.3 with MkDocs 1.5.3 and mike 2.0.0
  0.3/sitemap.xml.gz
  latest/sitemap.xml.gz
Due: none

fix: override consumer config with custom dataset params
  aineko/datasets/kafka.py
Due: check-license

chore: update Aineko version to 0.4.1
  aineko/__init__.py
  aineko/templates/first_aineko_pipeline/{{cookiecutter.project_slug}}/pyproject.toml
  poetry.lock
  pyproject.toml
Due: check-license, poetry-check

doc: update Kafka config options URLs
  aineko/config.py
  aineko/models/dataset_config_schema.py
Due: check-license

refactor: initialize ray cluster before preparing datasets Otherwise we won't be able to create a Ray Dataset
  aineko/core/runner.py
Due: check-license

refactor: AbstractDataset create signature
  aineko/core/dataset.py
  aineko/datasets/kafka.py
Due: check-license

refactor: AbstractDataset initialize signature
  aineko/core/dataset.py
Due: check-license

Path conditions:
  check-license: any of: \.(py|yml|yaml)$, but not: .pre-commit-config.yaml|yamllint.yaml|^docs/.styles/.*$
  poetry-check: any of: pyproject.toml
